@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <span style="font-size:2em; font-weight:800;"> <a href="https://www.flickr.com/photos/129244883@N06/15822955056" title="Museum Icon 64x64 Final by Jon Davis, on Flickr"><img src="https://farm8.staticflickr.com/7568/15822955056_8204a885fe_s.jpg" width="75" height="75" alt="Museum Icon 64x64 Final"></a>
    Artifact Express</span>
    <p class="lead"><i>Today's most powerful tool in artifact management.</i></p>
    </div>
