@model Artifact_Express.Models.AuthenticationStatus

@{
    ViewBag.Title = "GetArtifactAuthentication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetArtifactAuthentication</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.artifactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isAuthenticated)
        </th>
        <th></th>
    </tr>



        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.artifactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.isAuthenticated)
            </td>
        </tr>


</table>

